 *{
  padding: 0;
  margin: 0;
}
.navbar{
  width: 100%;
  height: 15vh;
  background: rgb(87, 80, 80);
  color:white;
  display: flex;
  align-items: center;
  justify-content:space-around;
  cursor: pointer;
}


.footer{
  width: 100%;
  height: 10vh;
  background: rgb(87, 80, 80);
  color:white;
  display: flex;
  align-items: center;
  justify-content:center;
}
.favourite{
  min-height: 75vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  justify-content: center;
}


.book-list{
  min-height: 75vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  justify-content: center;
}

img{
  width: 240px;
  height: 240px;
  transition: all .3s ease-in-out;
}
img:hover{
  transform:scale(1.5,1.5) ;
}
.book{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
  
}
button{
  padding: 15px;
  background: rgb(10, 2, 2);
  color: white;
  border: 5px;
  cursor: pointer;

}
.Login{
  min-height: 75vh;
  width: 100%;
  display: grid;
  justify-items: center;
  justify-content: center;
}
input {
  display: flex;
  text-align: center;
  justify-self: center;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

#page-notfound{
  min-height: 75vh;
  width: 100%;
  display: grid;
  justify-items: center;
  justify-content: center;
}

.list a:visited {
  color: yellow;
  text-decoration: none;
}